@CHARSET "UTF-8";
html,body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font_size:10px;
}
/************** label字体 **************************/
.miniui-label {
	font-family: Tahoma,Verdana,宋体;
	font-size: 12px;
	line-height: 22px;
}

.tb_class {
   background: #f4f4f4 none repeat scroll 0 0;
   border-bottom: 1px solid #ddd;
   height: 28px;
   padding: 2px 5px 1px;
}

.function-item 
{
   margin-left:5px;
   margin-right:5px;
}

/**按钮*/
/**.btnplan{border:solid 1px #aaa;}*/

.btnplan {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 8px/100% Arial, Helvetica, sans-serif;
	padding: .3em 0.8em .30em;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	-webkit-border-radius: .1em; 
	-moz-border-radius: .1em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.btnplan:hover {
	text-decoration: none;
}
.btnplan:active {
	position: relative;
	top: 1px;
}
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
