html, body{margin:0; padding:0; border:0; width:100%; height:100%; overflow:hidden;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;font-size:12px;}
input,label{vertical-align:middle;}
fieldset,img{border:0}
textarea{resize:none;font-size:12px;}
address,cite,dfn,em,var,i{font-style:normal}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
body{font:12px/1.5 '\5B8B\4F53';color:#333;}
a{text-decoration:none}
input,label,form{padding:0;margin:0}
select,textarea,img,fieldset,input{vertical-align:middle}
dl,ul,dt,dd,input{font:12px/20px tahoma,'\5B8B\4F53'}
a{color:#333}
a:hover{color:#ff5000;text-decoration:none}
.cwhite{color:#fff}
.cblue{color:#056dae}
.cred{color:#f00}
.cgray{color:#a9a9a9}
.corg{color:#ff5000}
.cdark{color:#333}
.c6{color:#666}
.c9{color:#999}
.c3{color:#333}
.ca{color:#aaa}
.corg a{color:#f57649}
.vtop{vertical-align:top;}
.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f20{font-size:20px}.f24{font-size:24px}.fb{font-weight:bold}.mg3{margin:3px}.mt3{margin-top:3px}.mb3{margin-bottom:3px}.ml3{margin-left:3px}.mr3{margin-right:3px}.mg5{margin:5px}.mt5{margin-top:5px}.mb5{margin-bottom:5px}.ml5{margin-left:5px}.mr5{margin-right:5px}.mg10{margin:10px}.mt10{margin-top:10px}.mb10{margin-bottom:10px}.ml10{margin-left:10px}.mr10{margin-right:10px}.mg15{margin:15px}.mt15{margin-top:15px}.mb15{margin-bottom:15px}.ml15{margin-left:15px}.mr15{margin-right:15px}.mg20{margin:20px}.mt20{margin-top:20px}.mb20{margin-bottom:20px}.ml20{margin-left:20px}.mr20{margin-right:20px}.mg25{margin:25px}.mt25{margin-top:25px}.mb25{margin-bottom:25px}.ml25{margin-left:25px}.mr25{margin-right:25px}.mg30{margin:30px}.mt30{margin-top:30px}.mb30{margin-bottom:30px}.ml30{margin-left:30px}.mr30{margin-right:30px}.mg50{margin:50px}.mt50{margin-top:50px}.mb50{margin-bottom:50px}.ml50{margin-left:50px}.mr50{margin-right:50px}.pd3{padding:3px}.pt3{padding-top:3px}.pb3{padding-bottom:3px}.pl3{padding-left:3px}.pr3{padding-right:3px}.pd5{padding:5px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}.pd10{padding:10px}.pt10{padding-top:10px}.pb10{padding-bottom:10px}.pl10{padding-left:10px}.pr10{padding-right:10px}.pd15{padding:15px}.pt15{padding-top:15px}.pb15{padding-bottom:15px}.pl15{padding-left:15px}.pr15{padding-right:15px}.pd20{padding:20px}.pt20{padding-top:20px}.pb20{padding-bottom:20px}.pl20{padding-left:20px}.pr20{padding-right:20px}.pd25{padding:25px}.pt25{padding-top:25px}.pb25{padding-bottom:25px}.pl25{padding-left:25px}.pr25{padding-right:25px}.pd30{padding:30px}.pt30{padding-top:30px}.pb30{padding-bottom:30px}.pl30{padding-left:30px}.pr30{padding-right:30px}.pd50{padding:50px}.pt50{padding-top:50px}.pb50{padding-bottom:50px}.pl50{padding-left:50px}.pr50{padding-right:50px}
.fl{float:left}
.fr{float:right}
.center{text-align:center}
.lft{text-align:left}
.rght{text-align:right}
.none{display:none}
.block{display:block}
.rel{position:relative}
.abs{position:absolute}
.cen{clear:both}
.undline,.undline:hover{text-decoration:underline}
.yahei{font-family:\5FAE\8F6F\96C5\9ED1}
.arial{font-family:arial, helvetica, sans-serif;}
.masklayer{background:rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#22000000',EndColorStr='#22000000');position:absolute;width:100%;height:100%;display:none}
.yg_ui_showTip{background:#fffaf4;border:1px #f1de99 solid;position:absolute;padding:2px 5px}
.clear{clear:both}
.clearfix{*zoom:1}
.clearfix:after{clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:"."}
.wrap{width:1200px;margin-left:auto;margin-right:auto;}

/*Validform 验证*/
.Validform_checktip{margin-left:8px;line-height:20px;height:20px;overflow:hidden;color:#999;font-size:12px;display:inline-block; vertical-align:middle;}
.Validform_right{color:#71b83d;padding-left:20px;background:url(../images/right.png) no-repeat left center;}
.Validform_wrong{color:red;display:inline-block;padding-left:20px;white-space:nowrap;background:url(../images/icon-error.png) no-repeat left center;}
.Validform_loading{padding-left:20px;background:url(../images/loading.gif) no-repeat left center;}
.Validform_error,.lgn-ipt.Validform_error{background:#ffe7e7;}
#Validform_msg{color:#7d8289;font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;width:280px;-webkit-box-shadow:2px 2px 3px #aaa;-moz-box-shadow:2px 2px 3px #aaa;background:#fff;position:absolute;top:0px;right:50px;z-index:99999;display:none;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3,Direction=135,Color='#999999');box-shadow:2px 2px 0 rgba(0,0,0,0.1);}
#Validform_msg .iframe{position:absolute;left:0px;top:-1px;z-index:-1;}
#Validform_msg .Validform_title{line-height:25px;height:25px;text-align:left;font-weight:bold;padding:0 8px;color:#fff;position:relative;background-color:#999;background:-moz-linear-gradient(top,#999,#666 100%);background:-webkit-gradient(linear,0 0,0 100%,from(#999),to(#666));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px;position:absolute;right:8px;top:0px;color:#fff;text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb;border-top:none;text-align:left;}

.header{border:none;overflow:hidden;min-width:990px;background:#e1ecfa url(../images/header_bg.png) repeat-x;}
.header_nav_index{height:70px;background:url(../images/ec-logo.png) left center no-repeat;margin-left: 10px;}
.logo{ float:left;text-indent:-1000px;}
.header_nav .bd{float:right;margin:8px 5px 0 0;}
.nav-menu, .nav-menu li, .nav-menu li.curr a, .nav-menu li.curr span { background:url(../images/menu.png) no-repeat;}
.nav-menu { background-color:#1871dd; }
.nav-menu li a, .nav-menu li span { color:#fff; }
.nav-menu li.curr span { color:#000; }
.nav-menu { display:block; overflow:hidden; height:28px; padding:0 5px; background-repeat:repeat-x;}
.nav-menu ul { float:left; display:block; overflow:hidden; position:relative;}
.nav-menu li { float:left; margin-left:-1px; background-position:0 -53px; position:relative;}
.nav-menu li a { float:left;outline:none;}
.nav-menu li span { float:left; font-weight:bold; cursor:pointer; padding:0 15px;}
.nav-menu li a, .nav-menu li span {font: bold 13px/28px '';}
.nav-menu li.curr { z-index:1;}
.nav-menu li.curr a, .nav-menu li.curr a:hover { text-decoration:none; background-position:100% -150px;}
.nav-menu li.curr span { padding:2px 15px 0 15px; background-position:0 -100px; height:26px; overflow:hidden;}
.loading16{background:url(../images/loading16.gif) no-repeat; width:16px;height:16px;}

.icon-window-max{background:url(../images/window-max.gif) no-repeat;}
.icon-window-min{background:url(../images/window-min.gif) no-repeat;}